body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Metropolis-Black';
	src: local('Metropolis-Black'),
		url(./fonts/Metropolis-Black.otf) format('truetype');
}

@font-face {
	font-family: 'Metropolis-BlackItalic';
	src: local('Metropolis-BlackItalic'),
		url(./fonts/Metropolis-BlackItalic.otf) format('truetype');
}

@font-face {
	font-family: 'Metropolis-Bold';
	src: local('Metropolis-Bold'),
		url(./fonts/Metropolis-Bold.otf) format('truetype');
}

@font-face {
	font-family: 'Metropolis-BoldItalic';
	src: local('Metropolis-BoldItalic'),
		url(./fonts/Metropolis-BoldItalic.otf) format('truetype');
}

@font-face {
	font-family: 'Metropolis-ExtraBold';
	src: local('Metropolis-ExtraBold'),
		url(./fonts/Metropolis-ExtraBold.otf) format('truetype');
}

@font-face {
	font-family: 'Metropolis-ExtraBoldItalic';
	src: local('Metropolis-ExtraBoldItalic'),
		url(./fonts/Metropolis-ExtraBoldItalic.otf) format('truetype');
}

@font-face {
	font-family: 'Metropolis-ExtraLight';
	src: local('Metropolis-ExtraLight'),
		url(./fonts/Metropolis-ExtraLight.otf) format('truetype');
}

@font-face {
	font-family: 'Metropolis-ExtraLightItalic';
	src: local('Metropolis-ExtraLightItalic'),
		url(./fonts/Metropolis-ExtraLightItalic.otf) format('truetype');
}

@font-face {
	font-family: 'Metropolis-Light';
	src: local('Metropolis-Light'),
		url(./fonts/Metropolis-Light.otf) format('truetype');
}

@font-face {
	font-family: 'Metropolis-LightItalic';
	src: local('Metropolis-LightItalic'),
		url(./fonts/Metropolis-LightItalic.otf) format('truetype');
}

@font-face {
	font-family: 'Metropolis-Medium';
	src: local('Metropolis-Medium'),
		url(./fonts/Metropolis-Medium.otf) format('truetype');
}

@font-face {
	font-family: 'Metropolis-MediumItalic';
	src: local('Metropolis-MediumItalic'),
		url(./fonts/Metropolis-MediumItalic.otf) format('truetype');
}

@font-face {
	font-family: 'Metropolis-Regular';
	src: local('Metropolis-Regular'),
		url(./fonts/Metropolis-Regular.otf) format('truetype');
}

@font-face {
	font-family: 'Metropolis-RegularItalic';
	src: local('Metropolis-RegularItalic'),
		url(./fonts/Metropolis-RegularItalic.otf) format('truetype');
}

@font-face {
	font-family: 'Metropolis-SemiBold';
	src: local('Metropolis-SemiBold'),
		url(./fonts/Metropolis-SemiBold.otf) format('truetype');
}

@font-face {
	font-family: 'Metropolis-SemiBoldItalic';
	src: local('Metropolis-SemiBoldItalic'),
		url(./fonts/Metropolis-SemiBoldItalic.otf) format('truetype');
}

@font-face {
	font-family: 'Metropolis-Thin';
	src: local('Metropolis-Thin'),
		url(./fonts/Metropolis-Thin.otf) format('truetype');
}

@font-face {
	font-family: 'Metropolis-ThinItalic';
	src: local('Metropolis-ThinItalic'),
		url(./fonts/Metropolis-ThinItalic.otf) format('truetype');
}
